@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: #f7f8fc;
  color: #1f2937;
}

html {
  scroll-behavior: smooth;
}

